
<div class="row justify-content-center m-2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png" alt="" style="width:600px; height: 200px;">
</div>
<div class="row m-5">
    <!--ngFor-->
    <div *ngFor = "let item of pokemons; let i = index">        
        <div class="card m-1" style="width: 18rem; border-style: solid; border-color: black">
            <button (click)=irDetalle(item,i)><img class="card-img-top" src="{{item.art_url}}" alt="Card image cap"></button>
            <div class="card-body">
                <div class="row justify-content-center mt-1">
                <h5 class="card-title" style="font-weight: bold">{{item.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
